/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 24, 2017, 10:11:04 AM
    Author     : numgroup
*/

.form-control {
  height: 30px;
  font-size: 12px;
  line-height: 18px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  border: 1px solid #D5D5D5;
  background: #F9F9F9;
}
.form-control:focus {
  border-color: #C5C5C5;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #C1C1C1;
  background: #FFF;
}
.form-control[disabled],
.form-control[readonly] {
  color: #CCC;
}
.form-control[disabled]:focus,
.form-control[readonly]:focus {
  background: #EEE;
  color: #CCC;
  border-color: #D5D5D5;
}

.btn-primary {
 background-color: #14e2c6;
  border-color: #1b1e24;
}

.bton-primary:hover {
  background-color: #1ce4c9;
  border-color: #101215;
}
.bton-primary[disabled],
.bton-primary.disabled {
  background: #313641;
  border-color: #2c313b;
}

.bton {
  display: inline-block;
    padding: 4px 15px;
    color:black;
    font-size: 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    background-image: none;
}

.dropdown-menu {
    font-size: 12px;
    -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #E5E5E5;
    padding: 0px;
    margin: 8px 0px 0px;
    z-index: 100;
}
.dropdown-menu > li > a {
    padding: 8px 15px;
    border-bottom: 1px solid #E9E9E9;
    line-height: 20px;
}
.dropdown-menu > li:last-child > a {
    border-bottom: 0px;
}
.dropdown-menu:after,
.dropdown-menu:before {
    font-size: 12px;     
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.dropdown-menu:after {
    font-size: 12px;    
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #FFF;
    border-width: 5px;
    margin-left: -5px;
}
.dropdown-menu:before {
    font-size: 12px;    
    border-color: rgba(229, 229, 229, 0);
    border-bottom-color: #E5E5E5;
    border-width: 6px;
    margin-left: -6px;
}
.dropup .dropdown-menu:after,
.dropup .dropdown-menu:before {
    font-size: 12px;    
    display: none;
}
.dropdown-header {
    padding: 10px 15px;
    border-bottom: 1px solid #E5E5E5;
    color: #777;
}
.dropdown-menu .fa {
    margin-right: 5px;
}
.dropdown-menu .divider {
    background: #F5F5F5;
    margin: 0px;
    padding: 15px 0px 0px;
    border-bottom: 1px solid #E5E5E5;
}