body {
    font-family : arial;
}
.sidebar {
    position : absolute;
    top : 60px;
    left : -235px;;
    transition : 100ms left;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    z-index: 10000;
}
#navigation-toggle {
        position : absolute;
        left : 235px;
        background : rgba(3,159,244,.95);
        /*background : #9c27b0;*/
        color : white;
        text-decoration : none;
        padding : 20px;
        height: 60px;
}
.show {
    left : 0;
}
.navigation {
    list-style : none;
    padding : 0;
    margin : 0;
    background-color : #D6D6D6;
}
.navigation-items a {
    display : block;
    background-color :#D6D6D6;
    color : white;
    line-height : 2em;
    text-decoration : none;
    padding : 10px 30px;
    width : 235px;

}
.navigation-items a:hover {
    background-color : #222;
}

.navigation > .sidebar-brand {
    background-color : #222;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    padding-left : 30px;
}

.navigation > .sidebar-brand a {
    color: #999999;
}

.navigation > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.leaflet-control-layers {
display: none;
}
