*.mp4
*.webm
/nbproject/private/
/node_modules/
/bower_components/
/admin/nbproject/private/
/joli/nbproject/private/
/joli/node_modules/
/admin/node_modules/
/web_version1.1/node_modules/
/web_version1.1/admin/nbproject/private/
/web_version1.1/nbproject/private/