
	<div  ng-controller="scWebSubmit" >
		<form class="form-horizontal" name="form" role="form" ng-submit="submitNewIssue()" id="addIssueForm">	
		<div class="col-md-8"> 
			<div style="height: 800px">
			<leaflet  lf-center="map_center" layers="layers" 
				 height="100%"  style="color:black"  ></leaflet>
			</div>
			<div  after-render="invalidateTheMap"></div>
		</div>
		
		<div class="col-md-4" > 
			<div class="eponymous" ng-show='issubmit_isseu_form()'>
				<div class="form-group">
					<label for="lng" style="color: #000000; font-weight: 300;" id="msg_label_long">{{'LONGTITUDE' | translate}}</label>
					<input ng-model="latlabeltxt" type="text" class="form-control" id="lng" placeholder="{{'LONGTITUDE' | translate}}" readonly >
				</div>
				<div class="form-group">
					<label for="lat" style="color: #000000; font-weight: 300;" id="msg_label_lat">{{'LATTITUDE' | translate}}</label>
					<input ng-model="lnglabeltxt" type="text" class="form-control" id="lat" placeholder="{{'LATTITUDE' | translate}}" readonly >
				</div>
				<div class="form-group">
					<label for="type-issue" style="color: #000000; font-weight: 300;" id="msg_label_type">{{ 'PROBLEMTYPE' | translate}}</label>
					<select ng-options="item as item.name | translate for item in availableIssues track by item.id" ng-model="issueTypeSelect" class="form-control" ng-change="updateCompoType()"></select>
					
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1" style="color: #000000; font-weight: 300;" id="msg_problem_detail">{{ 'PROBLEM' | translate}}</label>
					
					<select ng-options="item as item.name | translate for item in issueTypeSelect.types track by item.id" ng-model="issueSubTypeSelect" class="form-control" ng-change="issueSubTypeSelectChanged()"></select>
				
				</div>
				<div class="form-group"  ng-show='isOtherSelected()'>
					<label for="other_description" style="color: #000000; font-weight: 300;" >{{ 'DESCRIPTION' | translate}}</label>
					<input ng-model="otherDescriptionTxt" type="text" class="form-control" value="" placeholder="{{ 'OTHERPROBWRITE' | translate }}"   >
				</div>
				
				<div class="form-group">
					<label for="input_file" style="color: #000000; font-weight: 300;" id="msg_photograph">{{ 'PHOTO' | translate}}</label>
					<input type="file" id="input_file"   class="form-control" file-model="uploadedPhotoFile" placeholder=""   />
					
				</div>
			</div>
			</form>
			<form class="form-horizontal" name="form" role="form" ng-submit="submit_Eponymous()" id="addeponymous">	
			<div class="eponymous" ng-show='iseponymous()'>
				<p style="color:#000000;"><span ng-bind="myText"></span></p>
				<div class="form-group" style="color:#000000;">					
					<input ng-model="chkSelected" ng-change="stateChanged()" type="checkbox" class="" value="{{ 'EPONYMOUS_REPORT' | translate}}" style=" width: 25px; height: 25px;"> {{ 'EPONYMOUS_REPORT' | translate}}
				</div>
				<div class="form-group">
					<label for="other_description" style="color: #000000; font-weight: 300;" >{{ 'EPONYMOUS_NAME' | translate}}</label>
					<input ng-model="NameTxt" ng-readonly="!chkSelected"  type="text" class="form-control" value="" placeholder="{{ 'EPONYMOUS_TYPE_NAME' | translate }}"   >
				</div>
				<div class="form-group">
					<label for="other_description" style="color: #000000; font-weight: 300;" >{{ 'EPONYMOUS_EMAIL' | translate}}</label>
					<input ng-model="EmailTxt" ng-readonly="!chkSelected"  type="text" class="form-control" value="" placeholder="{{ 'EPONYMOUS_TYPE_EMAIL' | translate }}"   >
				</div>
				<div class="form-group">
					<label for="other_description" style="color: #000000; font-weight: 300;" >{{ 'EPONYMOUS_MOBILE' | translate}}</label>
					<input ng-model="MobileTxt" ng-readonly="!chkSelected" type="text" class="form-control" value="" placeholder="{{ 'EPONYMOUS_TYPE_MOBILE' | translate }}"   >
				</div>
			</div>
			
			<input id="btnsubmit" class="btn btn-info" type="submit" value="{{ 'SUBMIT' | translate}}"  ng-disabled="latlabeltxt === null" ng-show='submit_button' />
			
			<input id="btnsubmit" class="btn btn-info" type="submit" value="{{ 'SUBMIT' | translate}}"  ng-disabled="latlabeltxt === null" ng-show='register_button' />
			<input id="btnsubmit" class="btn btn-info" type="submit" value="{{ 'SUBMIT' | translate}}"  ng-disabled="latlabeltxt === null" ng-show='verify_button' />
			<input id="btnsubmit" class="btn btn-info" type="submit" value="{{ 'SUBMIT' | translate}}"  ng-disabled="latlabeltxt === null" ng-show='submit_eponymous_button' />

			<div id="try_another_issue"></div>
		</div>
		<div class="col-md-4" > 
			test
		</div>
		
   </form>
    </div>

