
	<div  ng-controller="scWebSubmit" >
		
		<div class="col-md-8"> 
			<div style="height: 800px">
			<leaflet  lf-center="map_center" layers="layers" 
				 height="100%"  style="color:black"  ></leaflet>
			</div>
			<div  after-render="invalidateTheMap"></div>
		</div>
		
		<div class="col-md-4" > 
			<br />
			<div class="stepwizard" style="color:#000000;">
				<div class="stepwizard-row">
					<div class="stepwizard-step">
						<button type="button" class="btn btn-primary1 btn-circle" ng-disabled="submit_button" >1</button>
						<p>Αναφορά Προβλήματος</p>
					</div>
					<div class="stepwizard-step">
						<button type="button" class="btn btn-default btn-circle"  ng-disabled="register_button" >2</button>
						<p>Επώνυμη αναφορά</p>
					</div>
					<div class="stepwizard-step">
						<button type="button" class="btn btn-default btn-circle" ng-disabled="verify_button">3</button>
						<p>Πιστοποίηση email</p>
					</div> 
					<div class="stepwizard-step">
						<button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
						<p>Καταχώριση αναφοράς</p>
					</div> 
				</div>
			</div>
			
			<style>
				
				.stepwizard-step p{
					color:#000000;
					font-size:12px;
				}
				
				.btn.btn-primary {
					background-color: rgb(16, 15, 150);
					border: 1px solid #f0f0f0;
					border-color: #e2e2e2;
					-webkit-transition: all .35s;
					-moz-transition: all .35s;
					transition: all .35s;
				}

				.stepwizard-step p {
					margin-top: 10px;    
				}

				.stepwizard-row {
					display: table-row;
				}

				.stepwizard {
					display: table;     
					width: 100%;
					position: relative;
				}

				.stepwizard-step button[disabled] {
					opacity: 1 !important;
					filter: alpha(opacity=100) !important;
				}

				.stepwizard-row:before {
					top: 14px;
					bottom: 0;
					position: absolute;
					content: " ";
					width: 100%;
					height: 1px;
					background-color: #ccc;
					z-order: 0;
					
				}

				.stepwizard-step {    
					display: table-cell;
					text-align: center;
					position: relative;
				}

				.btn-circle {
				  width: 30px;
				  height: 30px;
				  text-align: center;
				  padding: 6px 0;
				  font-size: 14px;
				  line-height: 1.428571429;
				  border-radius: 15px;
				}

			</style>

			<div class="eponymous" ng-show='issubmit_isseu_form()'>
				<div class="form-group">
					<label for="lng" style="color: #000000; font-weight: 300;" id="msg_label_long">{{'LONGTITUDE' | translate}}</label>
					<input ng-model="latlabeltxt" type="text" class="form-control" id="lng" placeholder="{{'LONGTITUDE' | translate}}" readonly >
				</div>
				<div class="form-group">
					<label for="lat" style="color: #000000; font-weight: 300;" id="msg_label_lat">{{'LATTITUDE' | translate}}</label>
					<input ng-model="lnglabeltxt" type="text" class="form-control" id="lat" placeholder="{{'LATTITUDE' | translate}}" readonly >
				</div>
				<div class="form-group">
					<label for="type-issue" style="color: #000000; font-weight: 300;" id="msg_label_type">{{ 'PROBLEMTYPE' | translate}}</label>
					<select ng-options="item as item.name | translate for item in availableIssues track by item.id" ng-model="issueTypeSelect" class="form-control" ng-change="updateCompoType()"></select>
					
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1" style="color: #000000; font-weight: 300;" id="msg_problem_detail">{{ 'PROBLEM' | translate}}</label>
					
					<select ng-options="item as item.name | translate for item in issueTypeSelect.types track by item.id" ng-model="issueSubTypeSelect" class="form-control" ng-change="issueSubTypeSelectChanged()"></select>
				
				</div>
				<div class="form-group"  ng-show='isOtherSelected()'>
					<label for="other_description" style="color: #000000; font-weight: 300;" >{{ 'DESCRIPTION' | translate}}</label>
					<input ng-model="otherDescriptionTxt" type="text" class="form-control" value="" placeholder="{{ 'OTHERPROBWRITE' | translate }}"   >
				</div>
				
				<div class="form-group">
					<label for="input_file" style="color: #000000; font-weight: 300;" id="msg_photograph">{{ 'PHOTO' | translate}}</label>
					<input type="file" id="input_file"   class="form-control" file-model="uploadedPhotoFile" placeholder=""   />
					
				</div>
			</div>
			
			<input id="btnsubmit" class="btn btn-info" type="submit" value="{{ 'SUBMIT' | translate}}"  ng-disabled="latlabeltxt === null" ng-show='submit_button' ng-click="setStep(1)" />
			
				<div class="eponymous" ng-show='iseponymous()'>
					<p style="color:#000000;"><span ng-bind="myText"></span></p>
					<div class="form-group" style="color:#000000;">					
						<input ng-model="chkSelected" ng-change="stateChanged()" type="checkbox" class="" value="{{ 'EPONYMOUS_REPORT' | translate}}" style=" width: 25px; height: 25px;"> {{ 'EPONYMOUS_REPORT' | translate}}
					</div>
					<div class="form-group">
						<label for="other_description" style="color: #000000; font-weight: 300;" >{{ 'EPONYMOUS_NAME' | translate}}</label>
						<input ng-model="NameTxt" ng-readonly="!chkSelected"  type="text" class="form-control" value="" placeholder="{{ 'EPONYMOUS_TYPE_NAME' | translate }}"   >
					</div>
					<div class="form-group">
						<label for="other_description" style="color: #000000; font-weight: 300;" >{{ 'EPONYMOUS_EMAIL' | translate}}</label>
						<input ng-model="EmailTxt" ng-readonly="!chkSelected"  type="text" class="form-control" value="" placeholder="{{ 'EPONYMOUS_TYPE_EMAIL' | translate }}"   >
					</div>
					<div class="form-group">
						<label for="other_description" style="color: #000000; font-weight: 300;" >{{ 'EPONYMOUS_MOBILE' | translate}}</label>
						<input ng-model="MobileTxt" ng-readonly="!chkSelected" type="text" class="form-control" value="" placeholder="{{ 'EPONYMOUS_TYPE_MOBILE' | translate }}"   >
					</div>
					<p style="color:#000000;">{{ 'MESSAGE_USER' | translate }}</p>
					<div class="form-group" style="color:#000000;">					
						<input ng-model="chkSelected_1" ng-disabled="!chkSelected" ng-change="stateChanged_email()" type="checkbox" id="chkSelected_1" value="{{ 'EMAIL_USER' | translate}}" style=" width: 25px; height: 25px;"> 
						{{ 'EMAIL_USER' | translate}}
					</div>
					<div class="form-group" style="color:#000000;">					
						<input ng-model="chkSelected_2" ng-disabled="!chkSelected" ng-change="stateChanged_sms()" type="checkbox" id="chkSelected_2" value="{{ 'SMS_USER' | translate}}" style=" width: 25px; height: 25px;"> 
						{{ 'SMS_USER' | translate}}
					</div>
				</div>
				
				
				
				<input id="btnregister" class="btn btn-info" type="submit" value="{{ 'REGISTER' | translate}}"  ng-disabled="latlabeltxt === null" ng-show='register_button'  ng-click="setStep(2)" />
				
				
				<div class="isnotverify" ng-show='isnotverify()'>
					<p style="color:#000000;"><span ng-bind="myText"></span></p>
					<div class="form-group" style="color:#000000;">					
						<label for="verify" style="color: #000000; font-weight: 300;" >{{ 'VERIFY_CODE' | translate}}</label>
						<input ng-model="codeTxt" type="text" class="form-control" value="" placeholder="{{ 'VERIFY_CODE' | translate }}"   >
					</div>
					<input id="btnverify" class="btn btn-info" type="submit" value="{{ 'SUBMIT' | translate}}"  ng-disabled="latlabeltxt === null" ng-show='verify_button' ng-click="setStep(3)" />
				</div>
				<div class="is_finalsubmit" ng-show='is_finalsubmit()'>
					<label for="verify" style="color: #000000; font-weight: 300;" >Απόθηκευση επώνυμης αναφοράς προβλήματος!</label><br />
					<input id="btneponymous" class="btn btn-info" type="submit" value="{{ 'NEW_ISSUE' | translate}}"  ng-disabled="latlabeltxt === null" ng-show='submit_eponymous_button' ng-click="setStep(4)" />
				</div>
				
				<div id="try_another_issue"></div>
			</div>
			
			
    </div>

