<!DOCTYPE html>
<html lang="en">
    <head>        
        <!-- META SECTION -->
        <title>Sense city Admin - Responsive Bootstrap Admin Template</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->

        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->               

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
        <script src="https://code.angularjs.org/1.5.3/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-sanitize.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-motion/0.4.4/angular-motion.css" />

        <!-- angular strap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.8/angular-strap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.8/angular-strap.tpl.min.js"></script>

        <link href="./dist/angular-tooltips.min.css" rel="stylesheet" type="text/css" />

        <!-- Angular administrationapp dependancies -->
        <script src="adminctrl.js"></script>
        <script src="adminapp.js"></script>
        <script src="adminsrvs.js"></script>

        <!-- Moment Js Greek Locale Support -->
        <script src="http://momentjs.com/downloads/moment-with-locales.js"></script>

        <!-- Map dependancies -->
        <script src="./js/leaflet.js"></script>
        <script src="./js/angular-simple-logger.js"></script>
        <script src="./js/ui-leaflet.min.js"></script>
        <script src="./js/leaflet.awesome-markers.js"></script>
        <script src="./js/leaflet.extra-markers.min.js"></script>
        <link rel="stylesheet" href="./css/leaflet.css" />
        <link rel="stylesheet" href="./css/leaflet.awesome-markers.css">
        <link rel="stylesheet" href="./css/leaflet.extra-markers.min.css">
        <link rel="stylesheet" href="css/ionicons.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js"></script>
        <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="http://tombatossals.github.io/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    </head>
    <body ng-app="adminapp" ng-cloak ng-controller="adminController" ng-init="">
        <script src="./dist/angular-tooltips.min.js"></script>
        <div ng-show="valid">
            <!-- START PAGE CONTAINER -->
            <div class="page-container">

                <!-- START PAGE SIDEBAR -->
                <div class="page-sidebar">
                    <!-- START X-NAVIGATION -->
                    <ul class="x-navigation">
                        <li class="xn-logo">
                            <a href="admin.html"><div style="left:-8px;position:relative;top:-2px"><i style="left:-8px;position:relative;" class="ion-ios-analytics-outline"></i>Sense.city</div></a>
                            <a href="#" class="x-navigation-control"></a>
                        </li>
                        <li class="xn-profile">
                            <a href="#" class="profile-mini">
                                <img src="assets/images/users/avatar.jpg" alt="John Doe"/>
                            </a>
                            <div class="profile">
                                <div class="profile-data">
                                    <div class="profile-data-name" ng-model="usrname">{{usrname}}</div>
                                    <div class="profile-data-title" ng-model="usrrole">{{usrrole}}</div>
                                </div>
                            </div>                                                                        
                        </li>
                        <li class="xn-title">Περιήγηση</li>                
                        <li class="xn-openable active">
                            <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Προβλήματα</span></a>
                            <ul>
                                <li ng-click="changeTab($index); refresh()" ng-repeat="tab in tabs" ng-class="($index == tabs.activeTab) ? 'active':''" data-title="{{ tab.title}}" name="{{ tab.title}}"><a href="#"><i ng-class="tab.icon"></i>{{tab.title}}</a></li>                                                      
                            </ul>
                        </li>

                    </ul>
                    <!-- END X-NAVIGATION -->
                </div>
                <!-- END PAGE SIDEBAR -->

                <!-- PAGE CONTENT -->
                <div class="page-content">

                    <!-- START X-NAVIGATION VERTICAL -->
                    <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                        <!-- TOGGLE NAVIGATION -->
                        <!-- END TOGGLE NAVIGATION -->
                        <!-- SEARCH -->   
                        <!-- END SEARCH -->
                        <!-- SIGN OUT -->
                        <li style="position:absolute;width:100%;height:inherit"><center style="width:100%;font-size:20px;color:white;display:table;height:100%"><span style="display:table-cell;vertical-align:middle"><i style="margin-right:10px" ng-class="tabs.activeIcon"></i>{{tabs.activeTitle}}</span></center></li>
                        <li class="xn-icon-button pull-right">
                            <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>                        
                        </li> 
                        <!-- END SIGN OUT -->
                        <!-- MESSAGES -->
                        <!-- END MESSAGES -->
                        <!-- TASKS -->
                        <!-- END TASKS -->
                    </ul>
                    <!-- END X-NAVIGATION VERTICAL -->                     

                    <!-- START BREADCRUMB -->
                    <ul class="breadcrumb">
                        <li><a href="#">Αρχική</a></li>                    
                        <li class="active">Προβλήματα</li>
                        <ul class="panel-controls" style="margin-top: 2px;">
                            <li ng-show="role == 'sensecityAdmin' || role == 'cityAdmin'" ng-click="toggle_allclosedissues(); refresh()"><a href="#" class="panel-completed"><span ng-style="(allclosedissues == false)? {'font-size':'13px'} : {'color':'#0c45c4','font-size':'13px'}" class="fa fa-building-o"></span></a></li> 
                            <li ng-click="toggle_closedissues(); refresh()"><a href="#" class="panel-completed"><span ng-style="(closedissues == false)? {} : {'color':'green'}" class="glyphicon glyphicon-ok-sign"></span></a></li> 
                            <li ng-show="role == 'sensecityAdmin' || role == 'cityAdmin'" ng-click="toggle_inprogressissues(); refresh()"><a href="#" class="panel-inprogress"><span ng-style="(assignissues == false) ? {} : {'color':'orange'}" class="glyphicon glyphicon-question-sign"></span></a></li> 
                        </ul>
                    </ul>


                    <!-- END BREADCRUMB -->                       

                    <!-- PAGE CONTENT WRAPPER -->
                    <div class="col-md-12">

                        <div style="width:48%" class="timeline">
                            <div style="padding:0" class="content-frame-top">
                                <center style="margin-bottom: 3%;margin-top: -1.6%">
                                    <h2 style="font-family:Open Sans, sans-serif;margin-bottom: 0px;font-size: 22px;">Επισκόπηση Προβλημάτων</h2>
                                </center>
                            </div>
                            <div ng-hide="isloading" style="background-color:rgba(249, 249, 249, 0.53);float:right;width:100%;padding-left:1%;padding-right:1.5%;padding-bottom:4%;padding-top:4%">

                                <div style="width:106%;margin-bottom:10px" ng-repeat="panel in panels" ng-class="($index == activePanel) ? 'timeline-item-active' :  'timeline-item'">
                                    <div class="timeline-item-content">
                                        <div style="padding-right:26px" class="timeline-body">
                                            <span ng-class="panel.icon" ng-style="panel.style"></span>
                                            <span class="issue_text" ng-click="itemClicked($index,$event); linkmap(panel)">{{ panel.title}}</span>
                                        </div>                                     
                                    </div>
                                    <div id="{{($index == activePanel) ? 'activePanel':''}}" ng-style="($index == activePanel)? {'height': '100%', 'opacity': '1', 'transition': 'height 0.3s linear'} : {'height': '0px', 'opacity': '0', 'transition': 'height 0.3s linear'}" ng-show="$index == activePanel">
                                        <div style="margin-top:10%" class="panel-body">
                                            <form name="editableForm" ng-hide="panel.admin">
                                                <div style="margin-bottom:3%;margin-left:1%">
                                                    <span class="title">Κατάσταση: </span>
                                                    <span>{{panel.status.gr}}</span>
                                                    <span ng-show="panel.status.en == 'RESOLVED'"> ({{panel.resolution.gr}})</span>
                                                </div>
                                                <div ng-show="role != 'sensecityAdmin' && role != 'cityAdmin' || tabs.activeTitle != 'Όλα τα προβλήματα'" style="margin-bottom:3%;margin-left:1%">
                                                    <span class="title">Τμήμα Ανάθεσης: </span>
                                                    <span >{{ panel.component}}</span>
                                                </div>                            
                                                <div style="margin-bottom:3%;margin-left:1%">
                                                    <span class="title">Καταγραφη: </span>
                                                    <span >{{ panel.time}}</span>
                                                </div>
                                                <div style="margin-bottom:3%;margin-left:1%">
                                                    <span class="title">Προτεραιότητα: </span>
                                                    <span >{{ panel.priority.gr}}</span>
                                                </div> 
                                                <div style="margin-bottom:3%;margin-left:1%">
                                                    <span class="title">Σπουδαιότητα: </span>
                                                    <span >{{ panel.severity.gr}}</span>
                                                </div> 
                                                <div style="margin-bottom:3%;margin-left:1%">
                                                    <span class="title">Ονοματεπώνυμο: </span>
                                                    <span> {{panel.creator}}</span>
                                                </div>
                                                <div style="margin-bottom:3%;margin-left:1%">
                                                    <span class="title">Τηλέφωνο: </span>
                                                    <span> {{panel.tel}}</span>
                                                </div>
                                                <div style="margin-bottom:3%;margin-left:1%">
                                                    <span class="title">e-mail: </span>
                                                    <span> {{panel.email}}</span>
                                                </div>                                             
                                                <div style="visibility: hidden">
                                                    <span>{{panel.duplicof}}</span>
                                                </div>
                                                <div ng-show="panel.comment != '' && panel.comment != 'undefined';" style="margin-bottom:2%;margin-left:1%;">
                                                    <div class="title">Σχόλια: </div>
                                                    <div style="border:solid 1px #cdd5d5;font-family:Open,sans-serif;padding: 8px 15px;border-radius:6px;margin-bottom:5%;margin-top:2%;width:95%;word-wrap: break-word">{{ panel.comment}}</div>
                                                </div>
                                                <div class="bton_prim_orange" ng-hide="panel.admin" ng-click="admin(panel)" ><center><span class="glyphicon glyphicon-edit"></span> Διαχείριση</center></div>
                                            </form>
                                            <form name="editingForm"  ng-show="panel.admin">
                                                <div>
                                                    <span class="title">Κατάσταση: </span>
                                                                                                        
                                                    <button ng-show="selectedStatus.en != 'RESOLVED'" style="font-size:13px;margin-bottom:1%;margin-left:1%;font-family:Open,sans-serif" type="button" class="btn btn-default" ng-model="selectedStatus" data-html="1" data-toggle="true" bs-options="status.gr for status in statuses" data-placement="bottom" bs-select></button>
                                                    <button ng-show="selectedStatus.en == 'RESOLVED'" style="font-size:13px;margin-bottom:1%;margin-left:1%;font-family:Open,sans-serif" type="button" class="btn btn-default" ng-model="selectedStatus" data-html="1" data-toggle="true" bs-options="status.gr for status in sresolved" data-placement="bottom" bs-select></button>
                                                    <button style="font-size:13px;margin-bottom:1%;margin-left:1%;font-family:Open,sans-serif" type="button" ng-show="selectedStatus.en == 'RESOLVED'" class="btn btn-default" ng-model="selectedResolution" data-html="1" data-toggle="true" bs-options="resolution.gr for resolution in resolutions" data-placement="bottom"  bs-select></button>
                                                    <div style="position:relative;top:5px" ng-show="selectedStatus.en == 'RESOLVED' && selectedResolution.en == 'DUPLICATE'">
                                                        <span class="title">Διπλότυπο πρόβλημα: </span>
                                                        <input type="text" ng-model="duplicof" ng-blur="dupli_change($event, duplicof)">
                                                    </div>
                                                    <div ng-show="selectedStatus.en == 'IN_PROGRESS'">
                                                        <span class="title">Ανάθεση σε: </span>
                                                        <button style="font-size:13px;margin-bottom:1%;margin-left:1%;font-family:Open,sans-serif" type="button" class="btn btn-default" ng-model="selectedComponent" data-html="1" data-toggle="true" bs-options="component for component in components" data-placement="bottom"  bs-select></button>                                                                               
                                                    </div>
                                                    <div>
                                                        <span class="title" >Προτεραιότητα: </span>
                                                        <button style="font-size:13px;margin-bottom:1%;margin-left:1%;font-family:Open,sans-serif" type="button" class="btn btn-default" ng-model="selectedPriority.gr" data-html="1" data-toggle="true" bs-options="priority for priority in priorities" data-placement="bottom"  bs-select></button>                                                                               
                                                    </div>
                                                    <div>
                                                        <span class="title" >Σπουδαιότητα: </span>
                                                        <button style="font-size:13px;margin-bottom:1%;margin-left:1%;font-family:Open,sans-serif" type="button" class="btn btn-default" ng-model="selectedSeverity.gr" data-html="1" data-toggle="true" bs-options="severity for severity in severities" data-placement="bottom"  bs-select></button>                                                                               
                                                    </div>
                                                </div>
                                                <div style="position:relative;margin-top:3%">
                                                    <div class="title" >Σχόλια: </div>
                                                    <textarea style="width: 95%;height:150px;margin-top:3%;resize:none" ng-disabled="selectedStatus.en == 'CONFIRMED'" type="text" class="form-control" ng-model="scomment" placeholder="περιγραφή ..."></textarea>
                                                </div>
                                                <div style="position:relative;margin-top:3%;display:inline-block" class="bton_prim_green" ng-show="panel.admin" ng-click="submit(panel, selectedStatus, selectedResolution, scomment, selectedComponent,selectedPriority,selectedSeverity, $event)" ><center><span class="glyphicon glyphicon-ok"></span> Επιβεβαίωση</center></div>
                                                <div style="position:relative;margin-top:3%;display:inline-block" class="bton_prim_red" ng-show="panel.admin" ng-click="resetPanel(panel)" ><center><span class="glyphicon glyphicon-remove"></span> Ακύρωση</center></div>
                                            </form>
                                            <br />
                                            <hr style="position:relative;right:2%"/>
                                            <div ng-hide="panel.admin">
                                                <h4 style="word-wrap:break-word;padding-right:35px">{{initial_desc}}</h4>
                                                <br />
                                                <center>
                                                    <img ng-src="{{panel_image}}" width="60%" height="400px" alt="{{initial_desc}}" />
                                                </center>
                                            </div>
                                        <div class="timeline-heading" style="padding-bottom: 10px;">                         
                                        </div>                                        
                                        <div style="left: -4.1%;position:relative;width:102.6%;;margin-top:20px" class="timeline-body comments">
                                            <center style="background-color:#191616;color:#d8dedf" class="comment-item">
                                            <h4>Ιστορικό</h4>                                                                                                 
                                            </center>
                                            <div ng-repeat="progress in panel.history" class="comment-item">
                                                <span ng-style="progress.style" ng-class="progress.class"></span>
                                                    <div class="comment-head">Κατάσταση: {{progress.state}}</div>
                                                    <br>
                                                    <div class="comment-head">Αναφορά: {{progress.timestamp}}</div>
                                                    <br><br>
                                                <p style="font-size: 16px">{{progress.text}}</p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="paging"></div>
                            </div>    
                        </div>

                        <div style="float:right;width:52%" class="col-md-6">                        
                            <!-- START GOOGLE EUROPE MAP -->
                            <div class="panel panel-default">
                                <div class="panel-heading ui-draggable-handle">
                                    <h3 class="panel-title" ng-model="city">{{city}}</h3>
                                    <ul class="panel-controls" style="margin-top: 2px;">
                                        <li><a ng-click="removeFixed()" href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                                        <li ><a ng-click="refresh()"href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>                                       
                                    </ul>
                                </div>
                                <div style="margin-top:0px;margin-bottom:0px;padding-left:0px;padding-right:0px" class="panel-body panel-body-map">
                                    <div style="width:100%;padding-left:5px;padding-right:5px" class="col-md-6" ng-if="activePanel == - 1">
                                        <leaflet id="issuesmap" lf-center="ALLcenter" layers="layers" markers="ALLmarkers" defaults="defaults" height="525px" width="100%"  style="color:black;">
                                        </leaflet>
                                    </div>
                                    <div style="width:100%;padding-left:5px;padding-right:5px" class="col-md-6" ng-if="activePanel != - 1">
                                        <leaflet id="panelmap" lf-center="center" event-broadcast="events" layers="layers" markers="markers" defaults="defaults" height="525px" width="100%"  style="color:black;">
                                        </leaflet>
                                    </div>
                                </div>
                            </div>
                            <!-- END GOOGLE EUROPE MAP -->
                        </div>
                        <!-- END PAGE CONTENT WRAPPER -->                                
                    </div>            
                    <!-- END PAGE CONTENT -->
                </div>
                <!-- END PAGE CONTAINER -->

                <!-- MESSAGE BOX-->
                <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
                    <div class="mb-container">
                        <div class="mb-middle">
                            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                            <div class="mb-content">
                                <p>Are you sure you want to log out?</p>                    
                                <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                            </div>
                            <div class="mb-footer">
                                <div class="pull-right">
                                    <button ng-click="logout($event)" style="border-radius:0px" class="btn btn-success btn-lg">Yes</button>
                                    <button style="border-radius:0px" class="btn btn-default btn-lg mb-control-close">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MESSAGE BOX-->

                <!-- START PRELOADS -->
                <audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
                <audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>
                <!-- END PRELOADS -->                  

                <!-- START SCRIPTS -->
                <!-- START PLUGINS -->
                <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
                <script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
                <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>        
                <!-- END PLUGINS -->

                <!-- START THIS PAGE PLUGINS-->        
                <script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>        
                <script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
                <script type="text/javascript" src="js/plugins/scrolltotop/scrolltopcontrol.js"></script>

                <script type="text/javascript" src="js/plugins/morris/raphael-min.js"></script>
                <script type="text/javascript" src="js/plugins/morris/morris.min.js"></script>       
                <script type="text/javascript" src="js/plugins/rickshaw/d3.v3.js"></script>
                <script type="text/javascript" src="js/plugins/rickshaw/rickshaw.min.js"></script>
                <script type='text/javascript' src='js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
                <script type='text/javascript' src='js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'></script>                
                <script type='text/javascript' src='js/plugins/bootstrap/bootstrap-datepicker.js'></script>                
                <script type="text/javascript" src="js/plugins/owl/owl.carousel.min.js"></script>                 

                <script type="text/javascript" src="js/plugins/moment.min.js"></script>
                <script type="text/javascript" src="js/plugins/daterangepicker/daterangepicker.js"></script>
                <!-- END THIS PAGE PLUGINS-->        

                <!-- START TEMPLATE -->
                <!--        <script type="text/javascript" src="js/settings.js"></script>-->

                <script type="text/javascript" src="js/plugins.js"></script>        
                <script type="text/javascript" src="js/actions.js"></script>

                <script type="text/javascript" src="js/demo_dashboard.js"></script>
                <!-- END TEMPLATE -->
                <!-- END SCRIPTS -->
            </div>
        </div>
        <div ng-show="!valid">
            Forbidden
        </div>
    </body>
</html>