<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>sense.city</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- THIS IS FOR Proper scaling on iPad :-) -->
<meta name="description" content="sense.city" />

<link rel="stylesheet" href="css/scapp.css" />
<link rel="stylesheet" href="css/sidebar.css">
<link rel="stylesheet" href="css/ionicons.min.css" />
<!-- angular dep -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
   
<script src="login_controller.js"></script>

<link rel="stylesheet" href="../css/login_template.css">
<link rel="stylesheet" href="../css/login_form.css">

<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Tangerine">

</head>
<body style="background-color:white" ng-app="login_fo" ng-controller="login_controller">

    <nav style="display:table;width:100%;height:13%;background-color:#082635" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<center style="display:table-cell;vertical-align: middle;float:none;color:#e6e6e6;font-size:25px" class="navbar-brand">
				<i
		class="ion-ios-analytics-outline"></i> sense.city <sup
		style="font-size: 55%">beta</sup>
				</center> 
	</nav>
<center class="login_form">
    <div class="login_header">
        <span class="header_lines"></span>  
  Login
  <span class="header_lines"></span> 
    </div>
    <div id="login" style="top:31%;position:relative">
        <form  method="post">
            <div><span ng-style="admin_user" class="fontawesome-user"></span><input ng-model="username_l" ng-focus="user_focus($event)" ng-blur="user_blur($event,username_l)" type="text" ng-value="username_l" onblur="if(this.value == '') this.value = 'Username'" onfocus="if(this.value == 'Username') this.value = ''" required=""></div> <!-- JS because of IE support; better: placeholder="Username" -->
            <div><span ng-style="lock" class="fontawesome-lock"></span><input ng-model="password_l" ng-focus="lock_focus($event)" ng-blur="lock_blur($event,password_l)" type="password" ng-value="password_l" onblur="if(this.value == '') this.value = 'Password'" onfocus="if(this.value == 'Password') this.value = ''" required=""></div> <!-- JS because of IE support; better: placeholder="Password" -->
            <div style="position:relative;display:table;width:71%"><div ng-click="authenticate_us($event)" class="login_btn">Login</div></div>
        </form>
      </div>
</center>
</body>
</html>